#high-scores-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

.high-score:hover {
    transform: scale(1.025);
}

@media only screen and (max-width: 360px) {
    h1 {
        font-size: 4rem;
    }
}
